
/* Your CSS Code here. */

.holder{
        display: flex;
        background-color: blue;
        height: 100vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
      }
      .item{
        background-color: red;
        padding: 10px;
        margin: 10px;
      }